In [2]:
l=[12,.23,3+6j,"ram"]

In [3]:
type(l)

list

In [4]:
s="inueron"

In [5]:
type(s)

str

# can we add list + str ?
## let's try

In [6]:
l+s

TypeError: can only concatenate list (not "str") to list

## No, it is not possible for that we have to first convert str into list and then we can add them together
## let's try

In [7]:
x=list(s)

In [8]:
type(x) # s"" is converted into list and reassigned into "x"

list

In [9]:
l+x

[12, 0.23, (3+6j), 'ram', 'i', 'n', 'u', 'e', 'r', 'o', 'n']

# but while adding them together "x" is also broken 
# how can we add item in list with out breaking it

In [10]:
# first let's make more lists
l1=[1,2,5+4j,"sita"]

In [11]:
type(l1)

list

# functions
## .append

In [14]:
l.append(l1)

In [16]:
l

[12, 0.23, (3+6j), 'ram', [1, 2, (5+4j), 'sita']]

In [17]:
str1="human"

In [18]:
type(str1)

str

In [19]:
#can we add str with append function
# let's try

In [20]:
l

[12, 0.23, (3+6j), 'ram', [1, 2, (5+4j), 'sita']]

In [21]:
l.append(str1)

In [22]:
l

[12, 0.23, (3+6j), 'ram', [1, 2, (5+4j), 'sita'], 'human']

In [23]:
# yes, we can add str with append function with out breaking the word
#can we add int
# let's try

In [24]:
int1= 24

In [25]:
l.append(int1)

In [26]:
l

[12, 0.23, (3+6j), 'ram', [1, 2, (5+4j), 'sita'], 'human', 24]

In [27]:
# what about complex no.
#let's try

In [28]:
com1=3+2j

In [29]:
type(com1)

complex

In [30]:
l.append(com1)

In [31]:
l

[12, 0.23, (3+6j), 'ram', [1, 2, (5+4j), 'sita'], 'human', 24, (3+2j)]

In [32]:
# now we have learn how to add item into a list 
# but is there only appen function?
# no, we can also use extend and insert to add items
# let's try

## extend

In [33]:
#this is our list to begin with
l

[12, 0.23, (3+6j), 'ram', [1, 2, (5+4j), 'sita'], 'human', 24, (3+2j)]

In [39]:
str2= "for"

In [49]:
type(str2)

str

In [41]:
l.extend(str2)

In [42]:
l

[12,
 0.23,
 (3+6j),
 'ram',
 [1, 2, (5+4j), 'sita'],
 'human',
 24,
 (3+2j),
 'f',
 'o',
 'r']

## Insert

In [43]:
# this is our list to begin with
l

[12,
 0.23,
 (3+6j),
 'ram',
 [1, 2, (5+4j), 'sita'],
 'human',
 24,
 (3+2j),
 'f',
 'o',
 'r']

In [55]:
# assigning values to variables
str3 = "rocket"
int2=23
comp2=3+5j
bool1=True

str

In [56]:
# check type of variables
type(str3)

str

In [57]:
l.insert(0,str3) # it will be added to 0th index in the list

In [58]:
l

['rocket',
 12,
 0.23,
 (3+6j),
 'ram',
 [1, 2, (5+4j), 'sita'],
 'human',
 24,
 (3+2j),
 'f',
 'o',
 'r']

In [59]:
l.insert(-1,int2)

In [60]:
l

['rocket',
 12,
 0.23,
 (3+6j),
 'ram',
 [1, 2, (5+4j), 'sita'],
 'human',
 24,
 (3+2j),
 'f',
 'o',
 23,
 'r']

In [61]:
l.insert(5,comp2)

In [62]:
l

['rocket',
 12,
 0.23,
 (3+6j),
 'ram',
 (3+5j),
 [1, 2, (5+4j), 'sita'],
 'human',
 24,
 (3+2j),
 'f',
 'o',
 23,
 'r']

In [63]:
l.insert(-4,bool1)

In [64]:
l

['rocket',
 12,
 0.23,
 (3+6j),
 'ram',
 (3+5j),
 [1, 2, (5+4j), 'sita'],
 'human',
 24,
 (3+2j),
 True,
 'f',
 'o',
 23,
 'r']

# now we have learnt how to add items into list.
# but how to take them out at your own will
# let's try!

In [65]:
# this is our list to begin with
l

['rocket',
 12,
 0.23,
 (3+6j),
 'ram',
 (3+5j),
 [1, 2, (5+4j), 'sita'],
 'human',
 24,
 (3+2j),
 True,
 'f',
 'o',
 23,
 'r']

In [66]:
# to remove we have "pop" and "remove"

In [67]:
l.pop(-2) # here we will use indexes in pop fn to remove item form list

23

In [68]:
l   # 23 is remove whose index is "-2"

['rocket',
 12,
 0.23,
 (3+6j),
 'ram',
 (3+5j),
 [1, 2, (5+4j), 'sita'],
 'human',
 24,
 (3+2j),
 True,
 'f',
 'o',
 'r']

In [69]:
# now this is our new list where 23 is removed
l

['rocket',
 12,
 0.23,
 (3+6j),
 'ram',
 (3+5j),
 [1, 2, (5+4j), 'sita'],
 'human',
 24,
 (3+2j),
 True,
 'f',
 'o',
 'r']

In [70]:
# again pop fn
l.pop(-1)

'r'

In [71]:
l

['rocket',
 12,
 0.23,
 (3+6j),
 'ram',
 (3+5j),
 [1, 2, (5+4j), 'sita'],
 'human',
 24,
 (3+2j),
 True,
 'f',
 'o']

In [72]:
#again
l.pop(-1)

'o'

In [73]:
l

['rocket',
 12,
 0.23,
 (3+6j),
 'ram',
 (3+5j),
 [1, 2, (5+4j), 'sita'],
 'human',
 24,
 (3+2j),
 True,
 'f']

In [79]:
# again
l.pop(-1)

24

In [80]:
l

['rocket', 12, 0.23, (3+6j), 'ram', (3+5j), [1, 2, (5+4j), 'sita'], 'human']

## remove

In [81]:
# list to begin with
l

['rocket', 12, 0.23, (3+6j), 'ram', (3+5j), [1, 2, (5+4j), 'sita'], 'human']

In [82]:
l.remove(0.23)    # here we will provide particular values/item from the list

In [83]:
l    # 0.23 is removed  , simple huh!

['rocket', 12, (3+6j), 'ram', (3+5j), [1, 2, (5+4j), 'sita'], 'human']

# how to manipulate list

In [84]:
# list to begin with
l

['rocket', 12, (3+6j), 'ram', (3+5j), [1, 2, (5+4j), 'sita'], 'human']

In [86]:
# if i want human from list
l[-1]
print("here is-->",l[-1])

here is--> human

In [87]:
# what if i want h from human
#let's try!
l[-1]  # [-1] will give us human
l[-1][0]   #[0] will give us h

'h'

In [88]:
# what if i want l1 that we added earlier?
l[-2]

[1, 2, (5+4j), 'sita']

In [90]:
# i want real no. of complex no.
l[-2] # it will give us list within list
l[-2][2].real

5.0

In [91]:
# how to convert float into int
# to make it easier we will reassigned this value 
z=l[-2][2].real

In [92]:
type(z)

float

In [94]:
# conversion
z=int(l[-2][2].real)
type(z)

int

# tuples: tuples are also type of list but list has "[ ]" and tuple has "( )"

In [96]:
# this is our tuple on which we will work
t=(67,"srk",(1,2,3),['rocket', 12, (3+6j), 'ram', (3+5j), [1, 2, (5+4j), 'sita'], 'human'],.34)

In [97]:
type(t)

tuple

In [98]:
# can we add tuple and list
t+l
# no, because they are of different type
# in order to add them we have to convert them

TypeError: can only concatenate tuple (not "list") to tuple

In [99]:
r=tuple(l)
type(r)

tuple

In [100]:
t+r

(67,
 'srk',
 (1, 2, 3),
 ['rocket', 12, (3+6j), 'ram', (3+5j), [1, 2, (5+4j), 'sita'], 'human'],
 0.34,
 'rocket',
 12,
 (3+6j),
 'ram',
 (3+5j),
 [1, 2, (5+4j), 'sita'],
 'human')

# functions:
## append, extend & insert

In [101]:
# tuple to begin with
t

(67,
 'srk',
 (1, 2, 3),
 ['rocket', 12, (3+6j), 'ram', (3+5j), [1, 2, (5+4j), 'sita'], 'human'],
 0.34)

In [109]:
str4= "hero"
int3=45
bool2=True
int4=-3

45

In [112]:
# check type
type(str4)

str

# append

In [113]:
t.append(str4)

AttributeError: 'tuple' object has no attribute 'append'

In [114]:
t.extend(str4)

AttributeError: 'tuple' object has no attribute 'extend'

In [115]:
t.insert(1,str4)

AttributeError: 'tuple' object has no attribute 'insert'

# we can not use append in tuple because tuple is imutable so, in order to add item first we have to 
# convert into list -> add items -> convert back to tuple

In [116]:
T=list(t)

In [117]:
type (T)

list

In [118]:
T.append(int3)

In [120]:
T # int3=45 added to the last

[67,
 'srk',
 (1, 2, 3),
 ['rocket', 12, (3+6j), 'ram', (3+5j), [1, 2, (5+4j), 'sita'], 'human'],
 0.34,
 45]

In [121]:
T.extend(str4)

In [122]:
T   # str4=hero is added to the last but broken

[67,
 'srk',
 (1, 2, 3),
 ['rocket', 12, (3+6j), 'ram', (3+5j), [1, 2, (5+4j), 'sita'], 'human'],
 0.34,
 45,
 'h',
 'e',
 'r',
 'o']

In [123]:
T.insert(-4,bool2)

In [124]:
T

[67,
 'srk',
 (1, 2, 3),
 ['rocket', 12, (3+6j), 'ram', (3+5j), [1, 2, (5+4j), 'sita'], 'human'],
 0.34,
 45,
 True,
 'h',
 'e',
 'r',
 'o']

In [129]:
T.insert(2,int4)

In [130]:
T

[67,
 'srk',
 -3,
 (1, 2, 3),
 ['rocket', 12, (3+6j), 'ram', (3+5j), [1, 2, (5+4j), 'sita'], 'human'],
 0.34,
 45,
 True,
 'h',
 'e',
 'r',
 'o']

# how to remove items

In [131]:
# here we are working with tuple which is converted into list to work on 
# as you all have already known tuple is imutable and can not be manipulated
T

[67,
 'srk',
 -3,
 (1, 2, 3),
 ['rocket', 12, (3+6j), 'ram', (3+5j), [1, 2, (5+4j), 'sita'], 'human'],
 0.34,
 45,
 True,
 'h',
 'e',
 'r',
 'o']

In [132]:
T.pop(2)

-3

In [133]:
T

[67,
 'srk',
 (1, 2, 3),
 ['rocket', 12, (3+6j), 'ram', (3+5j), [1, 2, (5+4j), 'sita'], 'human'],
 0.34,
 45,
 True,
 'h',
 'e',
 'r',
 'o']

In [135]:
T.remove(45)

In [136]:
T

[67,
 'srk',
 (1, 2, 3),
 ['rocket', 12, (3+6j), 'ram', (3+5j), [1, 2, (5+4j), 'sita'], 'human'],
 0.34,
 True,
 'h',
 'e',
 'r',
 'o']

In [138]:
T.remove("h")

In [139]:
T.remove("e")

In [140]:
T.remove("r")

In [141]:
T.remove("o")

In [142]:
T

[67,
 'srk',
 (1, 2, 3),
 ['rocket', 12, (3+6j), 'ram', (3+5j), [1, 2, (5+4j), 'sita'], 'human'],
 0.34,
 True]

## manipulation

In [145]:
T[0]

67

In [146]:
T[3][2].real

3.0

In [147]:
A=tuple(T)

In [148]:
type(A)

tuple

In [149]:
A

(67,
 'srk',
 (1, 2, 3),
 ['rocket', 12, (3+6j), 'ram', (3+5j), [1, 2, (5+4j), 'sita'], 'human'],
 0.34,
 True)

# SET :
## Set is one of 4 built-in data types in Python used to store collections of data

In [69]:
s={}

In [70]:
type(s) # here type of 's' is showing dict because there is no items inside the set
        # set only take formal value

dict

In [93]:
s={1,2,3,4,1,2,3,4,1,2,3,4,1,2,3,4,"ram","sham","sita","gita","ram","sham","sita","gita"}

In [95]:
s

{1, 2, 3, 4, 'gita', 'ram', 'sham', 'sita'}

In [87]:
 # it give all the unique value inside the set

In [96]:
s.add("hero")

In [97]:
s

{1, 2, 3, 4, 'gita', 'hero', 'ram', 'sham', 'sita'}

In [99]:
s.discard("gita")

In [100]:
s

{1, 2, 3, 4, 'hero', 'ram', 'sham', 'sita'}

# dictionary

In [108]:
dict1={"a":"math","b":"english","c":"history","d":"[67,'srk',(1, 2, 3),['rocket', 12, (3+6j), 'ram', (3+5j), [1, 2, (5+4j), 'sita'], 'human'],0.34,True]"}

In [109]:
type(dict1)

dict

In [111]:
dict1.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [113]:
dict1.values()

dict_values(['math', 'english', 'history', "[67,'srk',(1, 2, 3),['rocket', 12, (3+6j), 'ram', (3+5j), [1, 2, (5+4j), 'sita'], 'human'],0.34,True]"])

In [112]:
dict1.items()

dict_items([('a', 'math'), ('b', 'english'), ('c', 'history'), ('d', "[67,'srk',(1, 2, 3),['rocket', 12, (3+6j), 'ram', (3+5j), [1, 2, (5+4j), 'sita'], 'human'],0.34,True]")])

In [115]:
dict1

{'a': 'math',
 'b': 'english',
 'c': 'history',
 'd': "[67,'srk',(1, 2, 3),['rocket', 12, (3+6j), 'ram', (3+5j), [1, 2, (5+4j), 'sita'], 'human'],0.34,True]"}

In [118]:
dict2=list(dict1)

In [119]:
dict2

['a', 'b', 'c', 'd']